{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}
    <h1>{{ name }}</h1>
    <h3>{{ cash }} </h3>
    <h3>{{ total }} </h3>
 
    <ul class="list-unstyled">
      {% for stock in stocks %}
        <li>
         <b>Stock:</b>  {{ stock.symbol }} 
         <b>Shares:</b> {{ stock.totalShares }}
         <b>Current stock Price:</b> {{ stock.currentPrice }}
         <b>Total Value of your shares:</b> {{ stock.totalValue }}
        </li>
      {% endfor %}
    </ul>


{% endblock %}
